header {
  background-color: hsl(241, 77%, 38%);
  color: white;
  justify-content: space-between;
  display: flex;
  background-size: cover;
  font-size: small;

  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: -10px;
  align-items: center;
  /* border-top-right-radius: 30px;
  border-top-left-radius: 30px; */
}
.menu-icon {
  width: 40px;
  height: 30px;
  padding: 5px;
}
header a {
  color: white;
  text-decoration: none;
  margin-right: 0px;
}
header h1 {
  margin-left: 10px;
}
@media (max-width: 660px) {
  header a {
    display: none;
  }
  .menu-icon {
    display: block;
  }
}

.middle {
  color: rgb(0, 242, 255);
  align-items: center;
  display: flex;
  white-space: nowrap;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.intro {
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url(./gried.avif); */
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 150px;
  overflow: hidden;
  position: relative;

  /* z-index: 0; */
  align-items: center;
  justify-content: center;
  height: 395px;
}
/* #section-video {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
} */

.profile-image {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  margin-top: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  /* position: relative; */
}
.typewriter {
  font-weight: bolder;
  font-style: italic;
  /* position: relative; */
  color: white;
}
.ps {
  /* background-color: black; */

  color: white;
  text-align: center;
  line-height: 30px;
  display: block;
  position: relative;
}

header nav ul {
  gap: 20px;
  list-style-type: none;
  display: flex;
  color: white;
}
.p {
  display: flex;
  color: white;
  flex-direction: column;
  background-repeat: no-repeat;
  align-items: center;
}
.hire-me {
  background-color: rgb(65, 67, 232);
  width: 150px;
  height: 50px;
  border-radius: 30px;
  border-color: rgb(249, 241, 241);
  cursor: pointer;
  transition: transform 0.3 ease, background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bold;
  /* position: relative; */
}
.hire-me:hover {
  background-color: green;
  transform: scale(1.5);
}
body {
  /* background-color: rgb(239, 168, 14); */
  background-image: url(./Color\ Hunt\ Palette\ 000b58003161006a67fff4b7.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: large;
}

.about-me {
  /* background-color: rgb(95, 3, 3); */

  background-size: cover;
  color: white;
  text-align: center;
  padding: 20px;

  margin-top: 0px;
  margin-bottom: 0px;
  h1 {
    margin-left: 40px;
    margin-top: 20px;
  }
  p {
    color: yellow;
    margin-left: 40px;
    line-height: 30px;
  }
}
.skills {
  /* background-image: url(./pexels-danny-meneses-340146-943096.jpg); */
  animation: moveBackground 10s linear infinite;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin-top: 40px;
  padding: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;

  p {
    color: yellow;
    margin-left: 550px;
    font-weight: bold;
  }
}
h1 {
  margin-left: 550px;
}
h3 {
  font-style: oblique;
  margin-left: 500px;
}
p {
  margin-left: 50px;
}

.experience {
  /* background-color: rgb(93, 11, 118); */
  color: white;
  /* background-image: url(./drop.webp); */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px;
  margin-top: 20px;
  margin-bottom: 70px;
  border-radius: 30px;
  padding: 10px;
  flex: 1;
  h1,
  h4 {
    margin-left: 300px;
  }
  p {
    margin-left: 300px;
    color: yellow;
  }
}

.test {
  display: flex;
  width: 100%;
}
.cta {
  background-color: rgb(65, 67, 232);
  width: 150px;
  height: 50px;
  border-radius: 30px;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  a {
    text-decoration: none;
    font-weight: bold;
    color: white;
  }
}
.cta:hover {
  background-color: green;
  transform: scale(1.5);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.testimonies {
  background-color: rgb(11, 86, 160);
  border: #da31cb;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(57, 59, 108); */
  margin-top: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  /* padding: 30px; */

  /* overflow: visible; */
}
.testimonies h1 {
  margin-left: 20px;
  text-align: center;
}
.testimonies p1 {
  text-align: center;
}
.my-image {
  height: auto;
  width: 450px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;

  margin-bottom: 30px;
}

.williams {
  color: yellow;
}
.sec {
  display: flex;
  /* background-color: #ff0000; */
  width: 100%;
}
.contact-me {
  border-radius: 50px;
  align-items: center;
  background-image: url(./good.avif);
  display: flex;

  /* justify-content: center; */
  /* align-items: center; */
  margin: 10px;
  white-space: nowrap;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  color: white;
  margin-top: 7px;
  h2 {
    /* align-items: center; */
    margin-top: 50px;
  }

  .icon {
    color: white;
    display: flex;
    width: 20px;
    height: 20px;
    gap: 10px;
    background-color: white;
    border-radius: 60px;
    padding: 5px;
    margin-left: 0;
    margin-right: 30px;
  }
}
.contact-form {
  border-radius: 50px;
  /* border-top-left
-radius: 30px;
  border-bottom-right-radius: 30px; */
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: url(./good.avif);
  /* background-color: blueviolet; */
  flex: 1;

  h2 {
    margin-left: 80px;
    color: white;
  }
}

button {
  padding: 0px;
  height: 30px;
  width: 150px;
  border-radius: 30px;
  margin-left: 60px;
  text-decoration: none;
  margin-bottom: 20px;
  a {
    text-decoration: none;
  }
}
P {
  padding: 0px;
  color: white;
}

.name {
  color: white;
  padding: 37px;
  line-height: 30px;
  font-weight: bold;
}
.phone {
  font-weight: bold;
  color: white;
  padding: 45px;
  line-height: 30px;
}
p .text-area {
  color: white;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: rgb(73, 64, 75);
}
.email {
  color: white;
  padding: 57px;
  line-height: 30px;
  font-weight: bold;
}
.footer {
  /* background-image: url(./photo-1464639351491-a172c2aa2911.avif); */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  gap: 50px;
}
.footer img {
  flex-direction: column;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: white;
  background-color: white;
  border-radius: 25px;
}
.footer p {
  color: white;
  margin-left: 0px;
}
.footer img:hover {
  transform: scale(1.5);
  background-color: #da31cb;
  border-radius: 30px;

  width: 50px;
  height: 50px;
}
.sec {
  background-color: black;
  background-repeat: cover;
}
